<div class="row">
<div id="{{result.id}}" class="container col-md-6 col-md-offset-2">  
  <h2>{{result.username}}'s profile</h2>
  {{#result.userMaterials}}
  <div id="{{id}}" class="materials-container">
      <h4>{{category}}</h4>
      <p>{{title}}</p>
  </div>
  {{/result.userMaterials}}
  </div>
</div>
